body {
background-color: #ff05ac;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #ff1f88;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}
